* {
    margin: 0;
    padding: 0;
}

body{
    background-color: gray
}


#Header {
    background-color: cadetblue;
    height: 10%;
    text-align: center;
    font-size: 100%;
    color: white;
        
}

h1{
    padding-top: 2%
}

#Center {
}

#Small-tile{
    margin: 0 auto;
    width: 80%
}

#Large-tile{
    margin: 0 auto;
    width: 80%;
}

.Date{
    text-align: center;
    margin-top: 2%;
}

[class*='Squarre-']{
    text-align: center;
    height: 250;
    width: 40%;
    background-color: white;
    margin-top: 3%;    
}

.Squarre-1{
   float: left;
   margin-left: 6%;
}

.Squarre-2{
   float: right;
   margin-right: 6%;
}

.Rectangle{

    float: left;
    height: 250px;
    width: 88%;
    margin-top: 3%;
    background-color: white;
    margin-left: 6%;
}

.Img-squarre {
    margin: auto;
    height:30%;
    margin-top: 20px;
}

.Img-rectangle {
    margin: auto;
    height: 50%;
    margin-top: 20px;
}