* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'roboto_fin';
    src: url('../../font/roboto/Roboto-Thin.ttf');
}

body{
    background-color: #262626;
    font-family: "roboto_fin";
}

#content{
    height: 100%;
    z-index: 5;
    position: relative;
}

#menu{
    position: absolute;
    z-index: 4;
}

#header {
    background-color: #2980b9;
    height: 160px;
    text-align: center;
    font-size: 100%;
    color: white; 
    line-height: 160px;
    font-size: 2em;
    z-index: 1;
}

h1{
    padding-right: 11%;
}

h2{
    font-size: 3em;
    float: left;
}

h3{
    font-size: 2em;
    float: left;
}

h4{
    font-size: 4em;
    color: #16a085;
    margin-left: 20px;
}

#small-tile{
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}

#large-tile{
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}

.date{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 2em;
}

[class*='squarre-']{
    text-align: center;
    height: 400px;
    width: 45%;
    background-color: white;
    margin-top: 3%;  
    border-radius: 4px;  
}

.squarre-1{
    float: left;
    margin-left: 3%;
}

.squarre-2{
    float: right;
    margin-right: 3%;
    
}

.rectangle{
    float: left;
    height: 300px;
    width: 94%;
    margin-top: 3%;
    background-color: white;
    margin-left: 3%;
    border-radius: 4px;
}

.img-squarre {
    margin: auto;
    height:40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-rectangle {
    float: left;
    height: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

[class*='text-']{
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: bold;
}

[class*='text-1']{
    color: #e67e22;
}

[class*='text-2']{
    color: #27ae60;
}

.text-2-2{
    font-size: 2em;
}

[class*='text-3']{
    color: #34495e;
}

.text-3{
    margin-top: 100;
    margin-left: 185px;
}

[class*='text-3-']{
    float: left;
    margin-left: 100;
    margin-top: 20;
    font-size: 4em;
}

.img-menu{
    float: left;
    padding-top: 45px; 
    padding-left: 5%
}

#menu{
    width: 70%;
    background-color: #FFF;
    height: 100%;
    display: none;
    top: 0;
}

[class*='part-']{
    width: 100%;
    border-bottom-color: #262626;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.part-name{
    height: 170px;
}

.part-profil{
    height: 340px;
}

.img-profil{
    float: left;
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #16a085;
    border-radius: 100%;
}

.nom-prenom{
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    width: 50px;
}

li {
    margin-top: 10px;
    font-size: 2em;
}

ul{
    margin-left: 20px;
    list-style-type: none;
    width: 40%;
    float: left;
}

.line-2{
    color: #262626;
}

.img-parametre{
    width: 40px;
}

.aide-deconnexion{
    margin-left: 20px;
}

.part-parametre a{
    margin-left: 20px;
    font-size: 3em;
    color: #000;
    text-decoration: none;
}
