* {
    margin: 0;
    padding: 0;
}

body{
    background-color: gray
}


#Header {
    background-color: cadetblue;
    height: 10%;
    text-align: center;
    font-size: 100%;
    color: white;
        
}

h1{
    padding-top: 2%
}

#Center {
    margin: 0 auto;
    width: 80%;
}

.Date{
    text-align: center;
    margin-top: 2%;
}

.Squarre{
    height: 250;
    float: left;
    width: 40%;
    background-color: white;
    margin-left: 7%;
    margin-top: 3%;
    
}

.Rectangle{
    float: left;
    width: 100%;
    margin-top: 
    
}

.img-squarre {
    margin: 0 auto;
    height:30%;
    display:block;
    margin-top: 20px;
}