* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'roboto_fin';
    src: url('../../font/roboto/Roboto-Thin.ttf');
}

body{
    background-color: #262626;
    font-family: "roboto_fin";
}


#header {
    background-color: #2980b9;
    height: 160px;
    text-align: center;
    font-size: 100%;
    color: white; 
    line-height: 120px;
    font-size: 2em;
}

h1{
    padding-top: 2%
}

#center {
}

#small-tile{
    margin: 0 auto;
    width: 100%
}

#large-tile{
    margin: 0 auto;
    width: 100%;
}

.date{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 2em;
}

[class*='squarre-']{
    text-align: center;
    height: 400px;
    width: 45%;
    background-color: white;
    margin-top: 3%;  
    border-radius: 4px;  
}

.squarre-1{
    float: left;
    margin-left: 3%;
}

.squarre-2{
    float: right;
    margin-right: 3%;
    
}

.rectangle{
    float: left;
    height: 300px;
    width: 94%;
    margin-top: 3%;
    background-color: white;
    margin-left: 3%;
    border-radius: 4px;
}

.img-squarre {
    margin: auto;
    height:40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-rectangle {
    float: left;
    height: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

[class*='text-']{
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: bold;
}

[class*='text-1']{
    color: #e67e22;
}

[class*='text-2']{
    color: #27ae60;
}

.text-2-2{
    font-size: 2em;
}

[class*='text-3']{
    color: #34495e;
}

.text-3{
    margin-top: 100;
    margin-left: 185px;
}

[class*='text-3-']{
    float: left;
    margin-left: 100;
    margin-top: 20;
    font-size: 4em;
}

