* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'roboto_fin';
    src: url('../../font/roboto/Roboto-Thin.ttf');
}

body{
    background-color: #262626;
    font-family: "roboto_fin";
}

#header {
    background-color: #34495e;
    height: 160px;
    font-size: 100%;
    color: white; 
    line-height: 150px;
    font-size: 2em;
}

h1{
    float: left;
}

h2{
    padding-top: 30px;
    margin: 30px;
    font-size: 3em;
    color: #262626;
}

[class*='img-']{
    margin-top: 40px;
    height: 50%;
}

.img-back{
    float: left;
}

.img-moon{
    float: right;
    margin-right: 10;
}

#conteneur {
    background-color: white;
    margin: 10px;
    height: 80%;
}

[class*='span-']{
    margin: 30;
    font-size: 2em;
}

p{
    margin-top: 30;
    color: #262626;
}