* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'roboto_fin';
    src: url('../../font/roboto/Roboto-Thin.ttf');
}

body{
    background-color: #262626;
    font-family: "roboto_fin";
}

header{
    height: 160px;
    font-size: 100%;
    color: white; 
    line-height: 150px;
    font-size: 2em;
}

.sleep{
    background-color: #34495e;
    color: #34495e;
}

.walk{
    background-color: #27ae60;
    color: #27ae60;
}
.weight{
    background-color: #e67e22;
    color: #e67e22;
}

h1{
    float: left;
    color: #FFF;
}

h2{
    padding: 30px 0;
    font-size: 3em;
    background-color: #FFF;
}

[class*='img-']{
    margin-top: 40px;
    height: 50%;
}

.img-back{
    float: left;
}

.img-moon{
    float: right;
    margin-right: 60px;
}

#conteneur {
    background-color: white;
    width: 85%;
    margin: 30px auto;
    height: 80%;
    padding: 30px;
    border-radius: 4px;
}

.space{
	margin-right: 30px;
}
p{
    font-size: 2em;
}

button{
    height: 50px;
    width: 170px;
    background: none;
    border-radius: 4px;
    font-family: "roboto_fin";
    font-size: 2em;
    margin-right: 20px;
    cursor: pointer;
}

.button-sleep{
    border: 2px solid #34495e;
}

.button-walk{
   border: 2px solid #27ae60; 
}

.button-weight{
   border: 2px solid #e67e22; 
}

.active-sleep{
	background-color: #34495e;
	color: #FFF;
}
.active-weight{
	background-color: #34495e;
	color: #FFF;
}
.active-walk{
	background-color: #34495e;
	color: #FFF;
}
