* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'roboto_fin';
    src: url('../font/roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'roboto_lig';
    src: url('../font/roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'roboto_bold';
    src: url('../font/roboto/Roboto-Bold.ttf');
}

{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: "roboto_lig";
}

.background-image {
  background-image: url('../img/bg_co.jpg');
  background-size: 100% 100%;
  display: block;
  height: 100%;
  position: center fixed;
  right: 0;
  z-index: 1;
}
#homepage{
    text-align: center;
    font-size: 600%;
    transform: translateY(30%);
    width: 100%;
    top: 10px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
}
h1{
    font-family: "roboto_bold";
    color: #FFF;
    font-size: 3.5em;
}

form{
    padding-top: 10%;
}
input{
    background-color: #FFF;
    border-radius: 4px;
    border: none;
    padding: 0 10px;
    font-size: 1em;
    height: 200px;
    width: 90%;
    margin: 5px 0;
}
input[type="submit"]{
}
.small{
    text-align: center;
    font-size: 50px;
    color: #FFF;
}
.erreur{
    text-align: center;
    color: #c0392b;
    font-size: 50px;
}